@model WebBanGiay.Models.GIAY

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .a {
        color: chocolate;
    }
</style>
<h2 style="text-align:center; color:brown; margin:60px 0px">THÊM GIÀY MỚI</h2>

@using (Html.BeginForm("Create", "Admin", FormMethod.Post,
    new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenGIAY, htmlAttributes: new { @class = "control-label col-md-2 a" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenGIAY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenGIAY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Giaban, htmlAttributes: new { @class = "control-label col-md-2 a" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control a" } })
                @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mota, htmlAttributes: new { @class = "control-label col-md-2 a" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anhbia, htmlAttributes: new { @class = "control-label col-md-2 a" })
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaycapnhat, htmlAttributes: new { @class = "control-label col-md-2 a" })
            <div class="col-md-10">
                <input type="date" name="Ngaycapnhat" />
                @Html.ValidationMessageFor(model => model.Ngaycapnhat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Soluongton, htmlAttributes: new { @class = "control-label col-md-2 a" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaLOAI, htmlAttributes: new { @class = "control-label col-md-2 a" })
            <div class="col-md-10">
                @Html.DropDownList("MaLoai")
            </div>
        </div>


        <div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("VỀ TRANG QUẢN LÝ GIÀY", "Giay")
</div>
