@model WebBanGiay.Models.GIAY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên giày:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGIAY)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.Giaban) VNĐ
        </dd>

        <dt>
            Mô tả:
        </dt>
        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh bìa:
        </dt>

        <dd>
           <img src="@Url.Content("~/image/"+ Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @String.Format("{0:MM/dd/yyyy}", Model.Ngaycapnhat) VNĐ
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            Mã loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLOAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGIAY }) |
    @Html.ActionLink("Back to List", "Giay")
</p>
