@using WebBanGiay.Models
@model List<Giohang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Giohang</h2>

<style>
    .a{
        color:#fff;
    }
</style>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">MÃ GIÀY</th>
            <th scope="col">	Tên giày	</th>
            <th scope="col">Ảnh bìa</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Thành tiền</th>
            <th scope="col"> XÓA</th>
            <th scope="col"> Cập nhật</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.iMagiay</td>
                <td>@item.sTengiay</td>
                <td><a href="@Url.Action("Details", "ShoeStore", new { id = item.iMagiay })"><img src="~/image/@Url.Content(@item.sAnhbia)" style="width:100px;" /></a></td>
                @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSP = item.iMagiay }))
                {
                    <td>
                        <input type="number" min="1" name="txtSoluong" value="@item.iSoluong" />
                    </td>

                    <td>@String.Format("{0:0,0}", item.dDongia)</td>
                    <td>@String.Format("{0:0,0}", item.dThanhtien)</td>
                    <td><b>@Html.ActionLink("X", "XoaGiohang", new { @iMasp = item.iMagiay })</b></td>
                    <td><input type="submit" value="Cập Nhật" class="btn btn-danger" /></td>
                }

            </tr>
        }
        <tr style="font-weight: bold; color:red;">
            <td colspan="4">Số lượng sách: @ViewBag.Tongsoluong</td>
            <td colspan="4">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VND </td>
        </tr>
        <tr style="font-weight: bold; color:red;">
            <td colspan="4">
                @Html.ActionLink("Xóa gio hang", "XoaTatcaGiohang")
            </td>
        </tr>
        <tr style="font-weight: bold; color:red;">
            <td colspan="4">
                <button class="btn btn-success" style="color:#fff">@Html.ActionLink("ĐẶT HÀNG", "DatHang", "GioHang", new object { }, new { @class = "a" })</button>
            </td>
        </tr>
    </tbody>
</table>

